input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-speed 0.0
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "DP-2" {
    scale 1
    position x=2560 y=0
}

layout {
    gaps 4
    center-focused-column "never"
    always-center-single-column
    default-column-width { proportion 0.5; }
    background-color "transparent"

    focus-ring {
        width 2
        active-color "#e26f8fee"
        inactive-color "#595959aa"
        urgent-color "#ff6633ee"
    }

    shadow {
        on
        softness 4
        spread 0
        offset x=0 y=2
        color "#1a1a1aee"
    }

    struts {
        left 20
        right 20
        top 2
        bottom 2
    }
}

spawn-at-startup "waybar" "--config" "/home/art/.config/waybar/config-niri.jsonc" "--style" "/home/art/.config/waybar/style.css"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "mako"
spawn-at-startup "hyprpolkitagent"
spawn-at-startup "hyprsunset"
spawn-at-startup "hypridle" "-c" "/home/art/.config/niri/hypridle.conf"
spawn-at-startup "hyprpaper"
spawn-at-startup "xwayland-satellite"

environment {
    QT_QPA_PLATFORMTHEME "kde"
    QT_STYLE_OVERRIDE "BreezeDark"
}

cursor {
    xcursor-theme "BreezeX-RosePine-Linux"
    xcursor-size 48
}

prefer-no-csd
screenshot-path "~/img/hyprshot/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}

window-rule {
    geometry-corner-radius 3
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^(.blueman-manager-wrapped)$"#
    open-floating true
    default-column-width { fixed 300; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id="Apollo"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

layer-rule {
    match namespace="^hyprpaper$"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}

binds {
    Mod+O hotkey-overlay-title="Open Terminal" { spawn "ghostty"; }
    Mod+Shift+Q { close-window; }
    Mod+Shift+W { quit; }
    Mod+Shift+L { spawn "hyprlock"; }
    Mod+F { fullscreen-window; }
    Mod+Alt+F { toggle-window-floating; }
    Mod+Shift+F { maximize-column; }
    Mod+R hotkey-overlay-title="Run Application" { spawn "wofi" "--show" "drun"; }
    Mod+P { toggle-column-tabbed-display; }
    Mod+J { consume-window-into-column; }
    Mod+Shift+P { screenshot; }
    Mod+Tab { toggle-overview; }
    Mod+Space hotkey-overlay-title="Open Overview" { open-overview; }

    Mod+M { focus-column-left; }
    Mod+I { focus-column-right; }
    Mod+E { focus-window-or-workspace-up; }
    Mod+N { focus-window-or-workspace-down; }

    Mod+Shift+M { move-column-left; }
    Mod+Shift+I { move-column-right; }
    Mod+Shift+E { move-window-up-or-to-workspace-up; }
    Mod+Shift+N { move-window-down-or-to-workspace-down; }

    Mod+Ctrl+E { focus-workspace-up; }
    Mod+Ctrl+N { focus-workspace-down; }

    Mod+Z { focus-workspace 1; }
    Mod+X { focus-workspace 2; }
    Mod+C { focus-workspace 3; }
    Mod+D { focus-workspace 4; }
    Mod+V { focus-workspace 5; }

    Mod+Shift+Z { move-window-to-workspace 1; }
    Mod+Shift+X { move-window-to-workspace 2; }
    Mod+Shift+C { move-window-to-workspace 3; }
    Mod+Shift+D { move-window-to-workspace 4; }
    Mod+Shift+V { move-window-to-workspace 5; }

    Mod+S { focus-workspace-previous; }
    Mod+Shift+S { move-window-to-workspace "magic"; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }

    XF86AudioRaiseVolume allow-when-locked=true repeat=true { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume allow-when-locked=true repeat=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute allow-when-locked=true repeat=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true repeat=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true repeat=true { spawn-sh "brightnessctl -e4 -n2 set 5%+"; }
    XF86MonBrightnessDown allow-when-locked=true repeat=true { spawn-sh "brightnessctl -e4 -n2 set 5%-"; }
}
